
{% if paginator %}
<!-- Pagination links -->
<div class="pagination">
  {% if site.owner.linkedin %}
    <a href="{{ site.owner.linkedin }}" class="social-media-icons"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
  {% endif %}
  {% if site.owner.email %}
    <a href="mailto:{{ site.owner.email }}" class="social-media-icons"><i class="fa fa-2x fa-envelope-square" aria-hidden="true"></i></a>
  {% endif %}
  {% if site.owner.twitter %}
    <a href="{{ site.owner.twitter }}" class="social-media-icons"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a>
  {% endif %}
  {% if site.owner.github %}
    <a href="{{ site.owner.github }}" class="social-media-icons"><i class="fa fa-2x fa-github-square" aria-hidden="true"></i></a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{site.url}}/page{{paginator.next_page}}" class="older"><i class="fa fa-forward" aria-hidden="true"></i></a>
  {% else %}
    <span class="next"><i class="fa fa-forward" aria-hidden="true"></i></span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="{{site.url}}/" class="newer"><i class="fa fa-backward" aria-hidden="true"></i></a>
    {% else %}
      <a href="{{site.url}}/page{{paginator.previous_page}}" class="newer"><i class="fa fa-backward" aria-hidden="true"></i></a>
    {% endif %}
  {% else %}
    <span class="previous"><i class="fa fa-backward" aria-hidden="true"></i></span>
  {% endif %}
</div>
{%  endif %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{site.google_analytics}}']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
